<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.deletescape.controlbox">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ControlBox">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Reboot"
            android:label="@string/activity_label_rebooter"
            android:parentActivityName=".ControlBox" />
        <activity
            android:name=".LookAndFeel"
            android:label="@string/activity_label_lookandfeel"
            android:parentActivityName=".ControlBox" />
        <activity
            android:name=".MultiUser"
            android:label="@string/activity_label_multiuser"
            android:parentActivityName=".ControlBox" />
        <activity
            android:name=".Credits"
            android:label="@string/activity_label_credits"
            android:parentActivityName=".ControlBox" />
    </application>

</manifest>
